.container{
    max-width: 90%;
    margin:  0 auto;
}
.container-two{
    max-width: 78%;
    margin:  0 auto;
}

header{
    height: 150px;
    margin-bottom: 15px;
}

header .container{
    height: 50%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

nav ul{
    display: flex;
}

nav ul li{
    padding: 0 10px;
}

.brand-image{
    text-align: center;
    background-color: lightcoral;
    background-size: cover;
    height: 50%;
}

.brand-image h1{
    margin: 10px 0;
}

.brand-image p{
    width: 70%;
    margin: auto;
}

main{
    height: 1890px;
}

.input-search{
    width: 90%;
    text-align: center;
}

.input-search input{
    width: 70%;
}

.article-main{
    display: flex;
}

.article-main_description{
    width: 38%;
}

.article-main_image{
    width: 62%;    
}

.article-main_image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.groups-articles article{
    display: flex;

}

.article-articles__card{
    width: 33.3%;
}


.section-one{
    height: 70%;
    margin: 10px 0;
}

.section-one h2{
    margin: 10px 0px;
}

.section-one__p{
    float: right;
}
.article-main_description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small-footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.firm-images img{
    width: 15px;
    padding: 5px;
}

.article-articles__card{
    padding: 5px;
}
.article-articles__card .up img{
   width: 100%;
}

.section-two{
    height: 30%;
    margin: 10px 0;
}

.news{
padding: 10px 0;
}

.news-description{
    padding: 15px 0;
    display: flex;   
}

.news-description__img{
    width: 30%;
    height: 170px;
}

.news-description__img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.news-description-content{
    width: 70%;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news-description .small-footer{
    margin-top: 15px;
}

footer{
    margin: 10px 0;
    background-color: lightseagreen;
}

.footer-one{
    display: flex;
}
.footer-one__left{
    width: 50%;
    height: 150px;
}
.footer-one__right{
    width: 50%;
}
.footer-one__right{
    text-align: center;
}
.footer-one__right{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border-radius: 5px ;
}
.footer-two{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.one-column{
    width: 33.3%;
}

.footer-copyright{
    padding: 15px 0;
}
@media screen and (max-width: 728px){
    main{
        height: 1620px;
    }


}

@media screen and (max-width: 420px){
    header {
        height: 215px;
        
    }

    main{
        height: 3100px;
    }

    .article-main {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .article-main_description {
        width: 100%;
    }

    .article-main_description {
        width: 100%;
    }

    .groups-articles article {
        display: block;
    }

    .article-articles__card {
        width: 100%;
    }

    .news-description {
        padding: 5px 0;
        display: block;
    }

    .news-description__img {
        width: 100%;
    }

    .news-description-content {
        width: 100%;
    }

    .footer-one {
        display: block;
    }
    .footer-one__left {
        width: 100%;
        height: 185px;
    }
    .footer-two{
        display: block;
    }
}